.rootcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 20px;
    text-align: center;
}
.brand-logo {
    margin-left: 20px;
}

.showproduct {
    margin-top: 20px;
}